__pycache__/
html_files_for_BS/
html_files_no_embedding/
old_notebook_versions/
ds-t-test_doc_files/
is-t-test_doc_files/
os-t-test_doc_files/
!example_output_DS_t-test.html
.DS_Store
/.quarto/
local_files/
**/*.quarto_ipynb
14 - factorial_ANOVA_files/
.vscode/

